<div class="card col-6">
  <div class="card-header">
    Referencias locales
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Dime tu nombre</label>
      <input type="text" #name
        class="form-control" name="nombre" id="nombre" 
        placeholder="Dime tu nombre">
    </div>
    <button id="btnSalvar" class="btn btn-primary"
    (click)="name.value = name.value">Salvar</button>
    <button id="btnBorrar" class="btn btn-primary"
    (click)="name.value = ''">Borrar</button>
  </div>
  <div class="card-footer text-muted">
    Hola {{ name.value || "amigo"}}
  </div>
</div>
